@inject AuthenticationStateProvider AuthenticationStateProvider
@using System.Security.Claims

@if(authorized)
{
    <a class ="dropdown-item" href="admin/bookings">Bookings</a>
}

@code {
    bool authorized = false;

    protected override async Task OnInitializedAsync()
    {
        string role = (await AuthenticationStateProvider.GetAuthenticationStateAsync())
        .User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Role)?.Value;
        if (role.Contains("Admin"))
        {
            authorized = true;
        }
    }
}
