<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">PacificToursApp</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="hotels">
                Hotels
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tours">
                Tours
            </NavLink>
            <NavLink class="nav-link" href="/packages/hotelpackages">
                Tour Packages
            </NavLink>
        </div>
    </nav>
</div>

@code {
    // A flag to control whether the navigation menu is collapsed or expanded
    private bool collapseNavMenu = true;

    // A computed property that returns the appropriate CSS class based on whether the navigation menu is collapsed or expanded
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    // A method to toggle the state of the navigation menu
    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
